@media screen and (max-width:400px){
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
       flex-direction: column;
       margin-top: 20px;
    }
    .logo-container img{
        flex-direction: column;
        margin-top: 30px;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 20px;
    }
    ..banner-text{
        flex-direction: column;
        margin-top: 25px;
    }
    .game-s{
        grid-column: 1fr;
    }
    .online{
        display: flex;
        align-items: center;
    }

}
    
